<a href="https://colab.research.google.com/github/operantes/PythonEcosystem/blob/NumPy/pandas_dropna().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing libraries 
import pandas as pd 
import numpy as np

In [38]:
# Load data  
num = {'Integers': [10, 15, 30, 40, 55, np.nan, 
                    75, np.nan, 90, 150, np.nan]} 

nums = {'Integers_1': [10, 15, 30, 40, 55, np.nan,  
                       75, np.nan, 90, 150, np.nan], 
        'Integers_2': [np.nan, 21, 22, 23, np.nan, 
                       24, 25, np.nan, 26, np.nan,  
                       np.nan]}   

nums = {'Student Number': [ 1001, 1111, 1202, 1229, 1330, 
                           1335, np.nan, 1400, 1150, np.nan], 
           'Seat Number': [np.nan, 15, 22, 43, np.nan, 44, 
                           55, np.nan, 57, np.nan]} 

car = {'Year of Launch': [ 1999, np.nan, 1986, 2020, np.nan, 
                          1991, 2007, 2011, 2001, 2017], 
           'Engine Number': [np.nan, 15, 22, 43, 44, np.nan, 
                             55, np.nan, 57, np.nan],  
        'Chasis Unique Id': [4023, np.nan, 3115, 4522, 3643, 
                             3774, 2955, np.nan, 3587, np.nan]}

# Create the dataframe 
# df = pd.DataFrame( nums, columns =[ 'Integers_1', 'Integers_2' ] ) 
# df = pd.DataFrame( nums, columns =[ 'Student Number', 'Seat Number' ] ) 
df = pd.DataFrame( car, columns =[ 'Year of Launch', 'Engine Number', 'Chasis Unique Id' ] )

In [39]:
print( df ); print( "\n" )
# dropping the rows having NaN values 
df = df.dropna() 
  
# Resetting the index
print( df ); print( "\n" )
df = df.reset_index( drop=True )
print( df )

   Year of Launch  Engine Number  Chasis Unique Id
0          1999.0            NaN            4023.0
1             NaN           15.0               NaN
2          1986.0           22.0            3115.0
3          2020.0           43.0            4522.0
4             NaN           44.0            3643.0
5          1991.0            NaN            3774.0
6          2007.0           55.0            2955.0
7          2011.0            NaN               NaN
8          2001.0           57.0            3587.0
9          2017.0            NaN               NaN


   Year of Launch  Engine Number  Chasis Unique Id
2          1986.0           22.0            3115.0
3          2020.0           43.0            4522.0
6          2007.0           55.0            2955.0
8          2001.0           57.0            3587.0


   Year of Launch  Engine Number  Chasis Unique Id
0          1986.0           22.0            3115.0
1          2020.0           43.0            4522.0
2          2007.0           55.0            2955.0
3          2001.0           57.0            3587.0